.form__field {
  margin-top: 25px;

  &-label {
    font-weight: bold;
  }

  &-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;

    outline: none;

    transition: border-color ease-out 0.3s;

    &:focus {
      border-color: #aaa;

      transition: border-color ease-out 0.3s;
    }

    &--error {
      border-color: #ff0000;

      &:focus {
        border-color: #ff0000;

        transition: border-color ease-out 0.3s;
      }
    }

    &-item {
      position: relative;
    }

    &-error {
      position: absolute;
      bottom: -15px;
      left: 0;

      font-size: 12px;

      color: #ff0000;
    }
  }
}