.form__success-message {

  &-text {
    margin: 0;

    font-size: 16px;
    font-weight: bold;
  }

  &-data {
    margin: 30px 0 0 0;

    font-size: 11px;
    font-family: "Courier 10 Pitch", sans-serif;
    word-wrap: break-word;
  }

  &-link {
    display: inline-block;
    margin-top: 30px;

    text-decoration: none;
    font-size: 16px;
    color: #4871ff;

    transition: color ease-out 0.3s;

    &:hover {
      color: #ff0000;

      transition: color ease-out 0.3s;
    }
  }
}