.not-found {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 100px; }
  .not-found__title {
    margin: 0;
    font-size: 40px; }
  .not-found__text {
    margin: 50px 0 0 0;
    font-size: 20px; }
  .not-found__link {
    font-size: 20px;
    text-decoration: none;
    color: #4871ff;
    transition: color ease-out 0.3s; }
    .not-found__link:hover {
      color: #ff0000;
      transition: color ease-out 0.3s; }
